<div>
  <form [formGroup]="formulaireConnexion" (ngSubmit)="onSubmit()">
    <div>
      <label for="id">Identifiant</label>
      <input type="text" name="id" id="id" formControlName="identifiant">
      <div>
        <app-gestion-mess [controller]="formulaireConnexion.controls['identifiant'].value"></app-gestion-mess>
      </div>
    </div>
    <div>
      <label for="mdp">Mot de Passe</label>
      <input type="password" name="mdp" id="mdp" formControlName="mot_de_passe">
      <div>
        <app-gestion-mess [controller]="formulaireConnexion.controls['mot_de_passe'].value"></app-gestion-mess>
      </div>
    </div>
    <div>
      <div>
        <div>
          <div *ngIf="err">
            <p>{{ err }}</p>
          </div>
          <button type="submit">Se connecter</button>
        </div>
      </div>
    </div>
  </form>
</div>

