%main-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
}

.feedback {
  @extend %main-feedback;
  display: none;
}

.wrong-feedback {
  @extend %main-feedback;
  color: #dc3545;
}

.good-feedback {
  @extend %main-feedback;
  color: #198754;
}
