<div>
  <a [routerLink]="['/']">Accueil</a>
  <br>
  <div *ngIf="!utilisateurConnecte">
    <a [routerLink]="['/client/inscription']">S'inscrire</a>
    <br>
    <a [routerLink]="['/client/connexion']">Se connecter</a>
  </div>
  <div *ngIf="utilisateurConnecte">
    <a [routerLink]="['/produits/catalogue']">Catalogue des produits</a>
    <br>
    <a [routerLink]="['/produits/panier']">Panier</a>
    <br>
    <button (click)="deconnexion()">
      Déconnexion du compte
    </button>
  </div>
</div>
